// Styling for the masthead
header.masthead {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  background-image: url('../img/farcry6.png');
  background-color: hsla(25, 50%, 30%, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: rgba($color: #ffffff, $alpha: 1.0);
  h1 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  a i {
    transition: 0.2s;
    font-size: 2rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    a i {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
  .readmore {
    position: absolute;
    margin: 0;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include media-breakpoint-down(md) {
    .readmore {
      display: none;
    }
  }
}
