// Styling for the portfolio section
.projects-section {
  padding: 10rem 0;

  .project-text {
    padding: 3rem;
  }

  .project-header {
    @include media-breakpoint-down(md) { 
      h4 {
        display: block !important;
      }
      a {
        float: none !important;
      }
    }

    margin-bottom: 10px;
    h4, h3 {
      margin: 0;
      display: inline-block;
    }
    a {
      color: black;
      transition: 0.2s;
      font-size: 1.5em;
      float: right;
      padding-right: 4px;
      padding-left: 4px;
    }
  }

  .project-header.description-left {
    @include media-breakpoint-down(md) { 
      h4 {
        display: block !important;
      }
      a {
        float: none !important;
      }
    }
    
    a {
      float: left;
    }
  }

  .project-image-wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
  }

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .project-image-wrap-big {
    text-align: center;
  }

  .project-image-big {
    max-width: 100%;
    max-height: 70vh !important;
    vertical-align: middle;
  }

  .project-text-big {
    padding-top: 1.5rem;
    padding-bottom: 3rem;

    h3 {
      display: block;
    }

    a {
      float: none;
      display: inline-block;
    }

    p {
      text-align: justify;
    }
  }

  @include media-breakpoint-down(md) {
    .project-image-wrap {
      width: initial;
      height: initial;
      margin: initial;
      position: initial;
      text-align: center;
    }

    .project-image {
      max-width: 100%;
      height: auto;
      vertical-align: middle;

      width: initial;
      height: initial;
      object-fit: initial;
      max-height: initial;
      margin: initial;
      position: initial;
      top: initial;
      left: initial;
      transform: initial;
    }
  }

  a:hover {
    color: $primary;
  }

  hr {
    border-color: $primary;
    border-width: .25rem;
    width: 30%;
  }

  @include media-breakpoint-up(lg) {
    hr#college-divider {
      padding-bottom: 0 !important;
    }

    .project-text.text-lg-left {
      padding-right: 0;

      .project-header {
        padding-right: 1.5rem;
      }
    }

    .project-text.text-lg-right {
      padding-left: 0;

      .project-header {
        padding-left: 1.5rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .project-text {
      padding-left: 0;
      padding-right: 0;
      padding-top: 1.5rem;
    }

    .project-text:last-child {
      padding-bottom: 0;
    }
  }

  @include media-breakpoint-down(sm) { 
    .project-image-wrap, .project-image-wrap-big {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}
